body {
    background-color: #21223e;
}

.container.main {
    border-radius: 5px;
    margin: 20px auto;
    background-color: #fff;
    overflow: hidden;
}

.block-left, .block-right {
    padding: 20px;
}

.block-right {
    background-color: #f3f3f3f3
}

.products-table a {
    color: #9e8ce8;
}

.products-table th, .products-table td {
    font-size: 14px;
    border: none;
    vertical-align: middle;
}

.products-table-header > tr > th {
    padding-top: 2px;
    text-transform: uppercase;
    color: #ccc;
    font-size: 12px;
    font-weight: normal;
    border: none;
}

.products-table .input-qty {
    width: 40px;
    margin: 0 10px;
    text-align: right;
    padding: 0 6px;
    border: none;
    border:solid 1px #ccc;
    border-radius: 4px;
}

.products-table .price-container {
    min-width: 100px;
}

.products-table .image-container {
    width: 94px;
}

.products-table .details-container {
    min-width: 200px;
}

.products-table .input-qty::-webkit-inner-spin-button, 
.products-table .input-qty::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.block-right {
    font-size: 14px;
}

.block-right .total-price, .block-right .total-discount, .block-right .final-price {
    font-weight: bold;
}

.order-summary-container, .order-discount-item, .final-price-container {
    overflow: hidden;
}

.final-price-container {
    padding-bottom: 12px;
}

.discounts-container h4{
    text-transform: uppercase;
    color: #ccc;
    font-size: 14px;
}


.product-item .image {
    border:solid 1px #ccc;
    border-radius: 4px;
    padding: 2px;
}

.product-item .name {
    color: #9e8ce8;
    font-size: 18px;
    font-weight: bold;
}

.product-item .code {
    color: #ccc;
    font-size: 12px;
}

.btn-checkout, .btn-checkout:hover {
    margin-top: 5px;
    background-color: #5e66f2;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

.checkout-container {
    position: absolute;
    overflow: hidden;
    bottom: 20px;
    width: calc(100% - 40px);
}
